@page
@model MemberEntry.Pages.Profile.ManageUsersModel
@{
}

<h2>Manage Users</h2>
<div class="text-end">
    <a asp-page="/Profile/CreateUser" class="btn btn-success">+ New User</a>
</div>
<br />
<table class="table table-responsive">
    <thead class="table-light">
        <tr>
            <th>#</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Roles</th>
            <th>Permissions</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td></td>
                <td>@user.Email</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@string.Join(", ", user.Roles)</td>
                <td>@string.Join(", ", user.Permissions)</td>
                <td>
                    <a asp-page="/Profile/AssignPermissions" asp-route-userId="@user.Id" class="btn btn-sm btn-primary">Assign Permissions</a>
                </td>
            </tr>
        }
    </tbody>
</table>
